{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
    <h1 class="text-primary text-center">Добро пожаловать в веб приложение<br><strong style="color: orangered"> Smart To Do</strong></h1>
        <hr>
    <form method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email: </label>
    <input type="text" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}