{% extends 'base.html' %}
{% block title %}Настройки{% endblock %}
{% block content %}
    <h1 class="text-primary text-center">Настройка <strong>пользователя</strong></h1>
    <hr>
    <div class="container-fluid">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
    </div>
{% endblock %}
{% block js %}
    <script>
    $('#id_email, #id_first_name, #id_last_name, #id_tg_id  ').addClass('form-control');
    </script>
{% endblock %}