{% extends 'base.html' %}
{% block title %}Административная панель{% endblock %}
{% block content %}
    <h1 class="text-center text-primary">Панель администрации</h1>
    <hr>
<table class="table">
  <thead class="table-dark">
    <tr>
        <th scope="col"><strong style="color: lightblue;">#</strong></th>
        <th scope="col"><strong style="color: lightblue;">Email</strong></th>
        <th scope="col"><strong style="color: lightblue;">Дата создания</strong></th>
        <th scope="col"><strong style="color: lightblue;">Имя</strong></th>
        <th scope="col"><strong style="color: lightblue;">Фамилия</strong></th>
        <th scope="col"><strong style="color: lightblue;">Задач</strong></th>
      <th scope="col"><strong style="color: lightblue;">Tg ID</strong></th>
        <th scope="col"><strong style="color: red;" class="strong">Действия</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for person in person_list %}
    <tr class="table">
        <td style="background: rgba(0, 0, 0, 0.1)">{{ forloop.counter }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.created_at }}</td>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.task.count }}</td>
        <td>{% if person.tg_id == '' %}Отсутствует{% else %}{{ person.tg_id }}{% endif %}</td>
        <td><a href="{% url 'persons:person_profile' person.id %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Профиль">👨‍</a></td>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}